h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

*{
    font-family: 'Montserrat';
}

#gfm-form {
    width: 50vh;
}
@media (min-width:1291px) {
  .sitesection {
      display: flex;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 3%;
  }

  #pastpartnersection {
      display: flex;
      flex-direction: column;
      padding-left: 10%;
      padding-top: 3%;
      align-items: flex-start;
  }

  .text-box {
      width: 50%;
      display: flex;
      flex-direction: column;
      text-align: start;
      gap: 20px;
      align-items: flex-start;
  }
  .mobile-images {
    padding-right: 40px;
  }

  }

/* testing */

@media (max-width: 1290px) {
    .sitesection {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .mobile-images {
      /* Styles for the image container on mobile */
      margin-bottom: 10px; /* Adjust spacing as needed */
      padding-right: 0%;
      align-items: center;
      padding: 5%;
    }
  
    .text-box {
      /* Styles for the text container on mobile */
      text-align: center; /* Center align the text */
      width: 90%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;
    }
    #pastpartnersection {
      display: flex;
      flex-direction: column;
      padding-left: 10%;
      padding-top: 3%;
      align-items: flex-start;
  }
  }
  