* {
  font-family: 'Montserrat', 'sans-serif';
}

h2 {
  margin: 0;
}

.rightArrow {
    font-size: 2rem;
  }
  
.leftArrow {
    font-size: 2rem;
  }

.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.carouselItem {
  width: 30%;
}

.carouselItemWide {
  width: 45%;
}

.landing {
  background-color: #2EA397;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5rem;
  justify-content: space-between;
}

.tagline {
  width: 45%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.tagline h1 {
  font-size: 6.5vw;
  font-weight: 800;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.tagline p {
  font-size: 3vw;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  padding-bottom: 1rem;
}

.car-logo {
  background: url('../images/General/car_logo.png') no-repeat;
  width: 45%;
  background-size: contain;
}

button {
  background-color: transparent;
  border: none;
}

#introduction, #recent-events {
  padding: 3rem 5rem 0 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#introduction p {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 900px) {
  .landing {
    height: auto;
    background-color: #2EA397;
    display: flex;
    flex-direction: column-reverse;
  }

  .landing, #introduction, #recent-events {
    padding: 3rem;
  }
  .landing svg {
    width: 12vw;
    height: 12vw;
  }

  .carousel {
    flex-direction: column;
  }

  .tagline {
    width: 100%;
  }

  .tagline p {
    font-size: 5vw;
  }
}