
* {
    font-family: 'Montserrat',"Helvetica Neue",Helvetica,Arial;
}

#background-picture {
    width: 100%;
}

#catalog-holder {
    display: flex;
    justify-content: center;
}

#catalog {
    width: 90%;
    padding: 20px 0px 0px 0px;
}

.catalog-picture {
    width: 45%;
    justify-self: center;
    padding: 35px 10px 10px 20px;
}

.catch-logo { 
    padding: 40px 0px 40px 0px;
    width: 6%;
}