
* {
    font-family: Poppins;
}

#catalog-title {
    font-weight: bold;
    padding: 25px;
}

#catalog {
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
}

.catalog-picture {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5%;
    cursor: pointer;
}

.main-picture {
    max-height:75vh;
    object-fit: contain;
    border-radius: 5%;
    margin: auto;
    /* margin-left: 10%; */
}

.back-button {
    position: absolute;
    top: 3%;
    left: 2%;
    background-color: transparent;
    border: none;
}

.toy-details {
    min-height:75vh;
    max-height:75vh;
    min-width:75vh;
    max-width:75vh;
    border-radius: 5%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.toy-descriptors {
    flex: 8
}

.toy-title {
    font: Montserrat;
    font-weight: bold;
    width:100%;
    text-align: left;
}

.toy-description {
    font: Montserrat;
    width:100%;
    text-align: left;
}

.toy-buttons {
    flex: 3;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
}

.add-to-cart-button {
    flex: 1;
    border: none;
    min-width: 35%;
    width: 30%;
    /* height: 100%; */
    background-color: rgba(243, 111, 57, 0.5);
    border-radius: 300px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    align-items: center;
}

.build-button {
    flex: 1;
    border: none;
    min-width: 35%;
    width: 35%;
    /* max-height: 30%; */
    height: 80%;
    background-color:rgba(94, 191, 181, 0.5);
    border-radius: 300px;
    margin-top: 10px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    align-items: center;
}

.add-to-cart-button:hover {
    background-color: rgba(243, 111, 57, 1);
    color: white;
}

.build-button:hover {
    background-color: rgba(94, 191, 181, 1);
    color: white;
}

.button-holder {
    display: flex;
    align-items: center;
}

.button-break {
    flex: 2;
}

.catch-logo { 
    padding: 40px 0px 40px 0px;
    width: 6%;
}

.toy-container {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
    display:flex;
}

.image-tile {
    position: relative;
}
.plus-toy {
    position: absolute;
    width: 20px;
    height:20px;
    bottom: 2%;
    right: 2%;
    border-radius: 100%;
    border: none;
    background-color: rgba(243, 111, 57, 0.5);
    display: flex;
    align-items: center;
}

.plus-toy:hover {
    background-color: rgba(243, 111, 57, 1);
    color: white;
}