.nav-container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar {
    font-family: 'Poppins';
    max-height: 3.5rem;
    z-index: 1;
}

.navbar-show {
    transform: translateY(0);
    transition: transform 0.3s ease-out;
  }
  
.navbar-hide {
    transform: translateY(-100%);
}

.nav-brand {
    font-size: large;
    color: black;
    width: 100px;
    font-weight: 600;
}
.nav-brand-alternate, .nav-brand-alternate:hover {
    font-size: large;
    color: white;
    width: 100px;
    font-weight: 600;
}

.logo-menu-container {
    display: flex;
    align-items: center;
  }


.nav-logo {
    max-height: 100%;
    max-width: 40px;
    order: 2;
}


.nav-link {
    font-size: medium;
    font-weight: 600;
    color: black;
    text-shadow: 0.1px 0.1px 0.1px rgba(0, 0, 0, 0.3);
}

.nav-link:hover {
    color: rgb(115, 115, 115);
    text-shadow: 0.1px 0.1px 0.1px rgba(0, 0, 0, 0.3);
}

.nav-link-active, .nav-link-active:focus {
    font-weight: 800;
    color: black;
    text-shadow: 0.1px 0.1px 0.1px rgba(0, 0, 0, 0.3);
}

.nav-link-active:hover {
    font-weight: 800;
    color: rgb(115, 115, 115);
    text-shadow: 0.1px 0.1px 0.1px rgba(0, 0, 0, 0.3);
}

.nav-link-alternate {
    font-size: medium;
    font-weight: 600;
    color: white;
    text-shadow: 0.1px 0.1px 0.1px rgba(0, 0, 0, 0.3);
}

.nav-link-alternate:hover {
    color: rgb(235, 235, 235);
    text-shadow: 0.1px 0.1px 0.1px rgba(0, 0, 0, 0.3);
}

.nav-link-alternate-active, .nav-link-alternate-active:focus {
    font-weight: 800;
    color: white;
    text-shadow: 0.1px 0.1px 0.1px rgba(0, 0, 0, 0.3);
}

.nav-link-alternate-active:hover {
    font-weight: 800;
    color: rgb(235, 235, 235);
    text-shadow: 0.1px 0.1px 0.1px rgba(0, 0, 0, 0.3);
}

.adjust-right-nav {
    width: 100px;
    text-align: center;
    padding-right: 20px;
}

.collapsed-menu-icon {
    order: 1;
    margin-right: 10px; /* Add some margin between the icon and logo */
  }

.collapsed {
    background-color: white;
}

.collapse-nav {
  justify-content: flex-start;
}

.shopping-button {
    background-color: transparent;
    border: none;
    /* color: transparent; */
}

.shopping-icon {
    background-color: transparent;
}

.shopping-cart-container {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 10;
    display:flex;
}

.disable-interaction {
    background-color: black;
    opacity: 50%;
    flex: 9;
}

.shopping-cart-panel {
    background-color: white;
    flex: 3;
    display: flex;
    flex-direction: column;
}









.close-cart {
    flex: 1;
    border-bottom: solid;
}

.cart-items {
    overflow: scroll;
    flex:20;
}

.checkout-container {
    flex: 1;
}

.cart-item-container {
    height: 25%;
    border-bottom: solid;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}
.colbreak {
    flex: 1;
}

.item-picture {
    max-width: 75%;
    max-height: 75%;
    object-fit: contain;
    border-radius: 5%;
    margin: auto;
    flex: 4
}

.item-details {
    min-height:75%;
    max-height:75%;
    min-width:50%;
    max-width:50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 6;
    /* border: solid; */
}

.item-descriptors {
    flex: 8
}

.item-title {
    font: Montserrat;
    font-weight: bold;
    width:100%;
    text-align: left;
    font-size: medium;
}

.item-description {
    font: Montserrat;
    width:100%;
    text-align: left;
    font-size: small;
}


.item-buttons {
    flex: 3;
    margin: 0;
    padding: 0;
    align-items: center;
    /* border: solid; */
}

.rowbreak {
    flex: 20;
}
 
.checkout {
    width: 80%;
    border-radius: 10px;
    background-color: rgba(243, 111, 57, 1);
    color: white;
    font-weight: bold;
    margin: 5px;
    border: none;
}